@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@layer base {
  .text-body {
    @apply text-[14px] font-medium leading-[110%] laptop:text-[12px];
  }
  .text-menu {
    @apply text-[14px] font-medium leading-[110%] laptop:text-[12px];
  }
  .text-heading-5 {
    @apply font-romie text-[35px] font-normal leading-[38px] laptop:text-[32px] laptop:leading-[35px];
  }
}

:root {
  --grid-col-px: 10px;
  --grid-col-nb: 4;
  --grid-col-gap: 10px;
}
@media screen and (min-width: 1024px) {
  :root {
    --grid-col-px: 32px;
    --grid-col-nb: 12;
    --grid-col-gap: 16px;
  }
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body,
#__next {
  @apply h-full;
  @apply w-full;
  position: relative;
  cursor: none !important;
}

* {
  cursor: none !important;
}
